
.exhibit {
    min-height: 100%;
}
  
main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
}
  
footer {
    position: relative;
    margin-top: -180px;
    /* negative value of footer height */
    height: 180px;
    clear: both;
}
footer {
    padding-top: 50px;
    text-align: center;
}
  
